# Ignore all log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore directories that might contain temporary or binary files
bin/
obj/
temp/
tmp/

# Ignore files that may contain sensitive information
*.pfx
*.cert

# Ignore Visual Studio code workspace files
.vscode/

# Ignore all .env files, which might contain sensitive environment variables
*.env

# Ignore specific files that might be generated during development or by specific tools
Thumbs.db
.DS_Store
