<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/brazilianscriptguy/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="brazilianscriptguy" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
