<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- GitHub Package Registry -->
    <add key="github" value="https://nuget.pkg.github.com/brazilianscriptguy/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <!-- GitHub Username -->
      <add key="Username" value="brazilianscriptguy" />
      <!-- GitHub Personal Access Token (PAT) -->
      <add key="ClearTextPassword" value="[YOUR_PERSONAL_ACCESS_TOKEN]" />
    </github>
  </packageSourceCredentials>
</configuration>
